<div class="my-3">
    <h2>Take, TakeLast and TakeUntil</h2>
    <accordion>
        <accordion-group heading="Take, TakeLast and TakeUntil" [isOpen]="false">
            <div class="body">
                <div class="row">
                    <div class="col-12">
                        <h4>Take</h4>
                        <p> Emits only the first count values emitted by the source Observable.
                            (<a target="_blank" href="https://rxjs.dev/api/index/function/take"> Learn more</a>)
                        </p>
                        <h5>Example</h5>
                        <p>Take the first 5 seconds of an infinite 1-second interval Observable
                        </p>
                        <pre><code [highlight]="takeCode"></code></pre>
                        <br>
                    </div>
                </div>
                
            </div>
        </accordion-group>
    </accordion>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Ex: 01 Take (take only first 4 elements) <br>
                    Code: <strong>take(4)</strong>  
                </div>
                <div class="card-body">
                    <ul id="elContainer1">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Ex: 01 TakeLast (take only last 4 elements) <br>
                    Code: <strong>takeLast(4)</strong>  
                </div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    Ex: 01 TakeUntil (add a condition so it will take until that condition) <br>
                    Code: <strong>takeUntil(timer(5000)) -  takeUntil takes observable</strong>  
                </div>
                <div class="card-body">
                    <ul id="elContainer3">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    Ex: 01 TakeWhile (add a condition so it will take until that condition) <br>
                    Code: <strong>takeUntil(timer(5000)) -  takeUntil takes observable</strong>  
                </div>
                <div class="card-body">
                    <ul id="elContainer3">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


