<div class="row my-3">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a [routerLink]="['/observable/fromEvent']" routerLinkActive="router-link-active" >From Event</a>
            </li>
            <li>
                <a [routerLink]="['/observable/interval']" routerLinkActive="router-link-active" >Interval</a>
            </li>
            <li>
                <a [routerLink]="['/observable/of-from']" routerLinkActive="router-link-active" >of/from</a>
            </li>
            <li>
                <a [routerLink]="['/observable/to-array']" routerLinkActive="router-link-active" >To Array</a>
            </li>
            <li>
                <a [routerLink]="['/observable/custom']" routerLinkActive="router-link-active" >Custom</a>
            </li>
            <li>
                <a [routerLink]="['/observable/map']" routerLinkActive="router-link-active" >Map</a>
            </li>
            <li>
                <a [routerLink]="['/observable/pluck']" routerLinkActive="router-link-active" >Pluck
                <!-- <i style="display: flex; 
                position: absolute;
                top: 46%;
                left: 60%;" (click)="$event.stopPropagation()" [popover]="'Deprecated in Latest rxjs Version.'" class="fa-solid fa-circle-info"></i> -->
                </a>
            </li>
            <li>
                <a [routerLink]="['/observable/filter']" routerLinkActive="router-link-active" >Filter</a>
            </li>
            <li>
                <a [routerLink]="['/observable/tap']" routerLinkActive="router-link-active" >Tap</a>
            </li>
            <li>
                <a [routerLink]="['/observable/take']" routerLinkActive="router-link-active" >Take</a>
            </li>
            <li>
                <a [routerLink]="['/observable/retry']" routerLinkActive="router-link-active" >Retry</a>
            </li>
        </ul>
    </div>
</div>
